<!-- /templates/customers/reset_password.liquid -->

{% layout "customers" %}


<div class="login-area">
  <div class="input-area">
    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <div class="input-group">
      <input type="password" value="" name="customer[password]" size="16" placeholder="{{ 'customers.register.password' | t}}" />
      <label for="password">{{ 'customers.register.password' | t}}</label>
    </div>

    <div class="input-group">
      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="16"
        placeholder="{{ 'customers.register.password_confirm' | t}}" 
      />
      <label for="password_confirmation">{{ 'customers.register.password_confirm' | t}}</label>
    </div>

    <div class="login-btn">
      {% assign reset = 'customers.register.reset' | t %}
      {% render 'submit-btn', text: reset %}
    </div>

    {% endform %}
  </div>
</div>
