<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
      <!-- Favicon
      <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
      <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
      -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Philosopher&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=M+PLUS+1p:wght@300&family=Philosopher&display=swap" rel="stylesheet">

  <!-- settings -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }} <!-- swiper -->
  {{ 'swiper-bundle.min.js' | asset_url | script_tag }}

  {{ 'jquery.lazyload.min.js' | asset_url | script_tag }} <!-- Lazy load -->
  {{ 'delighters.min.js' | asset_url | script_tag }} <!-- delighters -->



  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'css_main.css' | asset_url | stylesheet_tag }}
  <script>
    const cur = '{{ shop.money_format }}';
  </script>
  {{ 'methods.js' | asset_url | script_tag }}
{% if request.path == '/challenge' %}
    <!-- challenge page only -->
  {{ 'css_customers.css' | asset_url | stylesheet_tag }}

{% else %}
  {{ 'css_header.css' | asset_url | stylesheet_tag }}
  {{ 'css_footer.css' | asset_url | stylesheet_tag }}

{% endif %}

</head>

<body>

{% if request.path == '/challenge' %}
  <!-- challenge page only -->
  <header class="c-header">
    <div class="shop-name"><a href="{{ routes.root_url }}">{{ shop.name }}</a></div>
    <div class="lang-selecter">{% render 'select-language' %}</div>
  </header>


    <main role="main" id="main">
      {{ content_for_layout }}
    </main>
{% else %}


  {% section 'header' %}


  <main role="main" id="main">
    <div id="m-d">{{ content_for_layout }}</div>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>
    <i>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</i>

  </main>

  {% comment %}
  ページ下部に海外発送注意の表示
  <div class="overseas">
    <div class="os-head"><span class="os-head-circle"></span></div>
    <h3>{{ 'general.overseas_notice.title' | t }}</h3>
    <p>{{ 'general.overseas_notice.content' | t }}</p>
    <p><input type="checkbox" id="next_stop">{{ 'general.overseas_notice.next_stop' | t }}</p>
  </div>
{% endcomment %}

  {% section 'footer' %}

{% endif %}


{% comment %}
  最後にJavascriptを入れる
{% endcomment %}
<script>
  var add_limit = "{{ 'general.limit.add_limit'| t }}";
</script>
{{ 'swiper_control.js' | asset_url | script_tag }}

{{ 'search_btn.js' | asset_url | script_tag }}
{{ 'header.js' | asset_url | script_tag }}
{{ 'main.js' | asset_url | script_tag }}

{%- if template =='search' -%}
  <script>
    // *再検索ページ用********* */
    $('.re-close-btn').on('click', function() {
        var target = document.getElementById('re-search-box');
        target.value = "";
        $('#re-search-box').val("");
    });
  </script>
{%- endif -%}

{% comment %}Lazy load{% endcomment %}
<script>
  $(function() {
      $("img.lazyload").lazyload({
          threshold: 350, //350px手前で画像を読み込み
          effect: 'fadeIn',
          effect_speed: 500,
          placeholder: '{{ 'loading.gif' | asset_url }}', //ダミー画像を指定
      });
  });
</script>

</body>
</html>
