


<footer id="footer">
  <div class="footer-area">
    <div class="inf-links">
      {% comment %}<div>Influencers</div>{% endcomment %}
      <ul class="foot-infs">
        {% for coll in linklists.footer-sns.links %}
          {% assign sub_list_handle = coll.title | handleize %}
          <li>
            <div><a href="{{ coll.url }}">{{ coll.title }}</a></div>
            <div class="inf-icons">
            {% for childlink in linklists[sub_list_handle].links %}
                <a href="{{ childlink.url }}" class="footer-sns-link" target="_blank" rel="noopener noreferrer">
                  {% assign url = childlink.url %}
                  {% if url contains 'twitter.com' %}
                    {% comment %}
                  <img src="{{ 'sns_twitter.png' | asset_img_url: 'x24' }}">
                    {% endcomment %}
                  <img src="{{ 'sns_x.png' | asset_img_url: 'x24' }}">
                  {% elsif url contains 'instagram.com' %}
                  <img src="{{ 'sns_insta.png' | asset_img_url: 'x24' }}">
                  {% elsif url contains 'facebook.com' %}
                  <img src="{{ 'sns_facebook.png' | asset_img_url: 'x24' }}">
                  {% elsif url contains 'tiktok.com' %}
                  <img src="{{ 'sns_tiktok.png' | asset_img_url: 'x24' }}">
                  {% elsif url contains 'youtube.com' %}
                  <img src="{{ 'sns_youtube.png' | asset_img_url: 'x24' }}">
                  {% endif %}
                </a>
            {% endfor %}
          </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="sitemaps">
      {% for link in linklists.footer.links %}
        <div>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </div>
      {% endfor %}
    </div>
    {% comment %}
    <div class="footer-company">{{ 'footer.company-name' | t }}</div>
    {% endcomment %}
  </div>
</footer>

