

{{ 'css_item-list.css' | asset_url | stylesheet_tag }}


{% paginate collection.products by 32 %}

{% render 'paginate' paginate:paginate %}


    <ul class="item-list">
        {% for item in collection.products %}
            {% unless item.tags contains 'lookbook' %}
                <!-- 商品が 'lookbook' タグを持たない場合のみ表示 -->
                <li class="item-base delighter" data-delighter>
                    <div class="item-img">
                        <a href="{{ item.url }}">
                            <img class="lazyload" data-original="{{ item.featured_image | product_img_url: 'large' }}">
                        </a>
                    </div>
                    <a class="item-explain" href="{{ item.url }}">
                        <p>{{ item.title }}</p>
                        <p>
                            {{ item.price | money }}
                            {% if item.compare_at_price > item.price %}
                                <span class="origin-price">{{ item.compare_at_price | money }}</span>
                            {% endif %}
                        </p>
                    </a>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>


{% render 'paginate' paginate:paginate %}

{% endpaginate %}
