{{ 'css_lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-container">
    <div class="top-container">
        <div class="look-image">
            {% assign lookbook_product = collections.lookbook.products.first %}
            {% if lookbook_product %}
                <img class="lazyload" src="{{ lookbook_product.featured_image.src }}" alt="{{ lookbook_product.title }}">
            {% endif %}
        </div>
        <p>{{ '2024 AW collection' }}</p>
    </div>
    
    <div class="recent-look">
        <div class="recent">
            <img class="lazyload" src="{{ lookbook_product.featured_image.src }}" alt="{{ lookbook_product.title }}">
        </div>
        <div class="recent">
            <img class="lazyload" src="{{ lookbook_product.featured_image.src }}" alt="{{ lookbook_product.title }}">

        </div>
        <div class="recent">
            <img class="lazyload" src="{{ lookbook_product.featured_image.src }}" alt="{{ lookbook_product.title }}">

        </div>
    </div>
</div>

