{{ 'css_lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-container">

    <div class="top-container">
        <div class="look-image">
            {% assign product = collections.all.products | where: 'handle', 'lookbook-1' | first %}
            {% if product %}
                <a href="/products/{{ product.handle }}">
                    <img src="{{ product.images.first.src | product_img_url: 'original' }}" alt="{{ product.title }}">
                </a>
            {% endif %}
            <p>{{ '2024 AW collection' }}</p>
        </div>
    </div>

    <div class="bottom-container">
        <div class="recent">
        {% assign product = collections.all.products | where: 'handle', 'lookbook-2' | first %}
        {% if product %}
            <a href="/products/{{ product.handle }}">
                <img src="{{ product.images.first.src | product_img_url: 'original' }}" alt="{{ product.title }}">
            </a>
        {% endif %}
        </div>
        <div class="recent">
            {% assign product = collections.all.products | where: 'handle', 'lookbook-3' | first %}
            {% if product %}
                <a href="/products/{{ product.handle }}">
                    <img src="{{ product.images.first.src | product_img_url: 'original' }}" alt="{{ product.title }}">
                </a>
            {% endif %}
        </div>
        <div class="recent">
            {% assign product = collections.all.products | where: 'handle', 'lookbook-4' | first %}
            {% if product %}
                <a href="/products/{{ product.handle }}">
                    <img src="{{ product.images.first.src | product_img_url: 'original' }}" alt="{{ product.title }}">
                </a>
            {% endif %}

        </div>
    </div>
</div>

