{{ 'css_lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-container">
    <div class="top-container">
        <div class="look-image">
            <img class="lazyload" data-original="{{ collection.image | img_url: '900x' }}" alt="lookbook1">
        </div>
        <p>2024(変数) AW collection</p>
    </div>
    
    <div class="recent-look">
        <div class="recent">
            <img class="lazyload" data-original="{{ collection.image | img_url: '900x' }}" alt="">
        </div>
        <div class="recent">
            <img class="lazyload" data-original="{{ collection.image | img_url: '900x' }}" alt="">
        </div>
        <div class="recent">
            <img class="lazyload" data-original="{{ collection.image | img_url: '900x' }}" alt="">
        </div>
    </div>
</div>

