{{ 'css_lookbook-product.css' | asset_url | stylesheet_tag }}

<section id="lookbook-product-page">
    {% comment %}
    <img src="{{ 'brandlogo.png' | asset_img_url: 'original' }}" alt="{{ shop.name }}" id="mumu-img">
    <p>{{ '2024 SS collection' }}</p>
    {% endcomment %}
    <div class="lookbook-product-area" id="lookbook-product"> 
        <div class="look" id="lookbook1">
            <div class="lookbook1-left" id="lookbook-1">
            </div>
            <div class="lookbook1-center">
                <div class="lookbook1-center-1" id="lookbook-2">
                </div>
                <div class="lookbook1-center-2" id="lookbook-3">
                </div>
            </div>
            <div class="lookbook1-right" id="lookbook-4">
            </div>
        </div>
        
        <div class="look" id="lookbook2">
            <div class="lookbook2-left" id="lookbook-5">
            </div>
            <div class="lookbook2-center" id="lookbook-6">
            </div>
            <div class="lookbook2-right" id="lookbook-7">
            </div>
        </div>

        <div class="look" id="lookbook3">
            <div class="lookbook3-left" id="lookbook-8">
            </div>
            <div class="lookbook3-center">
                <div class="lookbook3-center-1" id="lookbook-9">
                </div>
                <div class="lookbook3-center-2" id="lookbook-10">
                </div>
            </div>
            <div class="lookbook3-right" id="lookbook-11">
            </div>
        </div>

        <div class="look" id="lookbook4">
            <div class="lookbook4-left">
                <div class="lookbook4-left-1" id="lookbook-12">
                </div>
                <div class="lookbook4-left-2" id="lookbook-13">
                </div>
            </div>
            <div class="lookbook4-right" id="lookbook-14">
            </div>
        </div>

        <div class="look" id="lookbook5">
            <div class="lookbook5-left">
                <div class="lookbook5-left-1" id="lookbook-15">
                </div>
                <div class="lookbook5-left-2" id="lookbook-16">
                </div>
            </div>
            <div class="lookbook5-right">
                <div class="lookbook5-right-1" id="lookbook-17">
                </div>
                <div class="lookbook5-right-2" id="lookbook-18">
                </div>
            </div>
        </div>

        <div class="look" id="lookbook6">
            <div class="lookbook6-left" id="lookbook-19">
            </div>
            <div class="lookbook6-center" id="lookbook-20">
            </div>
            <div class="lookbook6-right" id="lookbook-21">
            </div>
        </div>
    </div>
</section>

<script>
    //ここでJSに全画像のデータを渡すためにforで取得
  var productImages = [
    {% for image in product.images %}
      "{{ image | img_url: '1024x1024' }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
  
</script>

{{ 'lookbook.js' | asset_url | script_tag }}

