{{ 'css_lookbook-product.css' | asset_url | stylesheet_tag }}

<section id="lookbook-product-page">
    <img src="{{ 'brandlogo.png' | asset_img_url: '110x' }}" alt="{{ shop.name }}" id="mumu-img">
    <p>2024 SS collection</p>
    <div class="lookbook-product-area" id="lookbook-product">
        <div class="lookbook1" id="look">
            <div class="lookbook1-left">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <div class="lookbook1-center">
                <div class="lookbook1-center-1">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
                <div class="lookbook1-center-2">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
            </div>
            <div class="lookbook1-right">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>
        
        <div class="lookbook2" id="look">
            <div class="lookbook2-left">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <div class="lookbook2-center">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <div class="lookbook2-right">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>

        <div class="lookbook3" id="look">
            <div class="lookbook3-left">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <div class="lookbook3-center">
                <div class="lookbook3-center-1">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
                <div class="lookbook3-center-2">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
            </div>
            <div class="lookbook3-right">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>

        <div class="lookbook4" id="look">
            <div class="lookbook4-left">
                <div class="lookbook4-left-1">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
                <div class="lookbook4-left-2">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
            </div>
            <div class="lookbook4-right">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>

        <div class="lookbook5" id="look">
            <div class="lookbook5-left">
                <div class="lookbook5-left-1">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
                <div class="lookbook5-left-2">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
            </div>
            <div class="lookbook5-right">
                <div class="lookbook5-right-1">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
                <div class="lookbook5-right-2">
                    <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
                </div>
            </div>
        </div>

        <div class="lookbook6" id="look">
            <div class="lookbook6-left">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">

            </div>
            <div class="lookbook6-center">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <div class="lookbook6-right">
                <img class="lazyload" data-original="{{ product.images[i].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>
    </div>

    {% comment %} 画像がアップロードされていたら以下繰り返し {% endcomment %}
    <div class="lookbook-container" id="lookbook-container">

    </div>
    
</section>

{{ 'lookbook.js' | asset_url | script_tag }}

