{{ 'css_lookbook-product.css' | asset_url | stylesheet_tag }}

<section id="lookbook-product-page">
    <div class="lookbook-product-area">
        <div class="flex-container">
            <img class="lazyload" data-original="{{ product.images[0].src | product_img_url: 'large' }}" loading="lazy">
            <div class="lookbook-right-1">
                <img class="lazyload" data-original="{{ product.images[1].src | product_img_url: 'large' }}" loading="lazy">
                <img class="lazyload" data-original="{{ product.images[2].src | product_img_url: 'large' }}" loading="lazy">
            </div>
        </div>
        <div class="flex-container">
            <div class="lookbook-left-1">
                <img class="lazyload" data-original="{{ product.images[3].src | product_img_url: 'large' }}" loading="lazy">
                <img class="lazyload" data-original="{{ product.images[4].src | product_img_url: 'large' }}" loading="lazy">
            </div>
            <img class="lazyload" data-original="{{ product.images[5].src | product_img_url: 'large' }}" loading="lazy">
        </div>
    </div>
</section>
