
{{ 'css_blog.lookbook.css' | asset_url | stylesheet_tag }}

<div class="news-separate">
  <div class="news-detail">
    {% if article.image.src %}
      <div class="news-image"><img src="{{ article.image.src | img_url: '900x' }}"></div>
    {% endif %}
    <h2>lookbook</h2>
  </div>

  <div class="newers sp-hidden">
    <div>{{ 'news.recent' | t }}</div>
    {% paginate blog.articles by 10 %}
      <ul class="newer-list">
        {% for article in blog.articles %}
          <li>
            <div><a href="{{ article.url }}">{{ article.created_at | date: "%Y/%m/%d" }}</a></div>
            <div class="newer-title"><a href="{{ article.url }}">{{ article.title }}</a></div>
          </li>
        {% endfor %}
      </ul>
    {% endpaginate %}
  </div>
</div>
